<header class="py-3 mb-3 border-bottom" Range: bytes=0-999>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="../static/img/logo.jpg" style="height:40px" alt="My logo">EJS web sample</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./">單圖顯示<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">RTSP Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">多圖顯示</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/video">Local Video</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="搜尋..." aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜尋</button>
            </form>
        </div>
    </nav>
</header>